.inventory-container {
    background-color: #13293D;
    padding-bottom: 40px;
}

.prf-head {
    font-family: 'Libre Baskerville', serif;
    font-size: 7px;
    color: #69615da9;
}

.list {
    display: flex;
    flex-flow: column;
}

.toggle-form {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 23px;
    color: #C1292E;
    text-shadow: 0px 0px 1px #13293dab;
    height: fit-content;
}

.form { 
    margin-top: 20px;
    border: 1px solid dodgerblue;
    box-shadow: 0px 0px 10px rgba(30, 143, 255, 0.582);
    border-radius: 13px;
    padding-top: 6px;
    padding-left: 5px;
    margin-bottom: 30px;
    margin-left: 3px; margin-right: 3px;
}

.toggle-btn {
    font-size: 27px;
    color: dodgerblue;
    border-radius: 100%;
    margin-left: 11px;
    height: fit-content;
    box-shadow: 0px 0px 4px  dodgerblue;
    background-color: #da2a3f44;
}

.no-out {
    float: right;
}

.fa-window-close {
    position: absolute;
    font-size: 15px;
    float: right;
    color: #A4031F;
    margin-left: 3px;
    
}

.cursive {
    font-family: 'Permanent Marker', cursive;
    color: #8076719d;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.562);
}