.login {
    text-align: center;
    margin-top: 50px;
}

.login-inputs { 
    font-family: 'Roboto', sans-serif;
    color: rgb(71, 71, 71);
    font-size: 1.2rem;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(246, 247, 248);
    border: none;
    width: 50%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.6s;
}

.btn {
    color: #FCFCFC;
    padding: 12px 14px;
    font-size: 18px;
    background-color: #5592ee;
    border-radius: 13px;
    outline: none;
    border: none;
}

.btn:active {
    box-shadow: 0px 0px 5px dodgerblue;
}

