.cont {
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
    background-color: #e9e6dc;
    border-radius: 13px;
    text-align: center;
    padding: 20px;
    height: 45px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 3px; margin-right: 3px;
}

.issue {
    color: #0f2529c5;
    font-size: 15px;
    margin-top: 9px;
}

.delete-iss {
    float: right;
    color: #da2a3ff1; 
    width: 15px; 
    height: 20px; 
    font-size: 13px;
    border-radius: 100%;
}

.edit-iss {
    float: right;
    width: 20px;
    margin-right: 10px;
    text-align: center;
}

.fa-times {
    font-size: 19px;
}

.fa-edit {
    font-size: 19px;
}

.likes-iss {
    float: left !important;
}

.rmg {
    margin-right: 18px;
    font-size: 17px;
}

.like {
    color: green;
}

.edt {
    text-align: unset;
    height: unset;
}

.edt-close {
    margin-left: 15px;
}