.toggle-btn {
    font-size: 27px;
    color: dodgerblue;
    border-radius: 100%;
    box-shadow: 0px 0px 4px  dodgerblue;
    background-color: #da2a3f44;
    height: fit-content;
}

.issue-form {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
}

.issue-input {
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 25px;
    width: 70%;
    font-family: 'Kavivanar', cursive;
}

textarea {
    border-radius: 6px;
    border: none;
    resize: none;
}

no-out {
    height: fit-content;
}